<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.pjt.Mapper.jobsearchMapper">
	<insert id="addJobSearch" >
		insert into tbl_jobsearch(jobsearch_title,jobsearch_main,user_id) values(#{jobsearch_title},#{jobsearch_main},#{user_id})
	</insert>
	
	<select id="job_search_select" resultType="com.pjt.command.JobsearchVO">
		select * from tbl_jobsearch where jobsearch_num=#{jobsearch_num}
	</select>
	
	<select id="job_search_management" resultType="com.pjt.command.JobsearchVO">
		select * from tbl_jobsearch where user_id =#{user_id}
	</select>
	
	<update id="modifyJobSearch">
		update tbl_jobsearch set jobsearch_title=#{jobsearch_title},jobsearch_main=#{jobsearch_main} where jobsearch_num = #{jobsearch_num}
	</update>
	
	<delete id="jobsearch_delete">
		delete from tbl_jobsearch where jobsearch_num = #{jobsearch_num}
	</delete>
	
	<update id="jobsearch_public">
		update tbl_jobsearch set jobsearch_check = #{jobsearch_check} where jobsearch_num = #{jobsearch_num}
	</update>
	
	<select id="getJobsearch_check" resultType="String">
		select jobsearch_check from tbl_jobsearch where jobsearch_num= #{jobsearch_num}
	</select>
	
</mapper>

