<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.pjt.Mapper.jobsearchMapper">
	<insert id="addJobSearch" >
		insert into tbl_jobsearch(jobsearch_title,jobsearch_main) values(#{jobsearch_title},#{jobsearch_main})
	</insert>
	
	<select id="job_search_select" resultType="com.pjt.command.JobsearchVO">
		select * from tbl_jobsearch where jobsearch_num=1
	</select>
	
</mapper>

